[submodule "external/bigger"]
	path = external/bigger
	url = https://github.com/yuki-koyama/bigger.git
[submodule "external/alembic"]
	path = external/alembic
	url = https://github.com/alembic/alembic.git
[submodule "external/timer"]
	path = external/timer
	url = https://github.com/yuki-koyama/timer.git
[submodule "external/googletest"]
	path = external/googletest
	url = https://github.com/google/googletest.git
[submodule "external/mathtoolbox"]
	path = external/mathtoolbox
	url = https://github.com/yuki-koyama/mathtoolbox.git
